body {
  margin: 0;
  background-color: #f6e0b3;
}
.head{
  margin: 0;
  background-color: #baabda;
}

.savanh2{
  margin-top: 0px;
}
.audio-div {
  position: absolute;
  right: 10px;
  margin-right: 10px;
  width: 300px;

  position: fixed;

}
.fixaudio{
  position: fixed;
}

body {
  color: #1a3e59;
  ;
}

p {
  font-style: italic;
}

h1 {
  color: #470938;
}

h3 {
  color: #470938;
}

hr {
  width: 10%;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 4px;
}

img {
  height: 150px;
}

table {
  width: 50%;
}

th {
  height: 50px;
}

ul {
  width: 70%;
}

ol {
  width: 20%;
}
#youtube:hover {background-size: 100px;
  background-color: #c299fc;}
  #myphoto:hover {background-size: 100px;
    background-color: #c299fc;}
#youtubepng:hover {background-size: 100px;
  background-color: #c299fc;}
  #resume:hover {background-size: 100px;
    background-color: #c299fc;}
